<page backtop="10mm" backbottom="16mm" backleft="10mm" backright="10mm">
    <page_header>
        <hr style="border-bottom:1px solid black;"/>
    </page_header>
    <page_footer >
        <div style="text-align:center;font-size:12px">
            <span style='margin:0px 22px;'>
                <img src="{{app_url}}/public/image/www.png" style="width:30px;">
                www.ebax.ca
            </span>
            <span style"margin:0px 22px;">
                <img src="{{app_url}}/public/image/phone.png" style="width:30px;">
                418-622-7353
            </span>
            <span style="margin:0px 22px;">
                <img src="{{app_url}}/public/image/map.png" style="width:30px;">
                1720 boul. Père-Lelièvre, local 100, Québec, Qc G1M 3J6
            </span>
        </div>
        <hr style="border-bottom:1px solid black;"/>
    </page_footer>

    <div>{{ rapport|raw }}</div>
</page>