{% set title = 'Edition rapport' %}

{% extends "template/main.twig" %}

{% block css %}
    {{ css("style") }}
{% endblock %}

{% block js %}
    <script src="https://cdn.tiny.cloud/1/omdjpqfhd17dsn9me2xxarz1g3og7awzo2r3coi81zk6tn8j/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    {{ js("script-tiny") }}
{% endblock %}
    
{% block body %}
    <form action="{{ postRoute('Rapport:export_pdf',{"name":rapport.slug}) }}" method="post" target="_blank">
        <div class="row">
            <div class="col-md-12">
                <textarea name="rapport" id="rapport" rows="30">{{ rapport.overview }}</textarea>
            </div>
        </div>

        <!----><button type="submit" class="btn btn-success">
            Exporter en pdf
        </button>
    </form>
{% endblock %}